*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    display: flex;
    background: #0065c3;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo{
    
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px ;
    padding-right: 60px;
}

.navlinks ul{
    display: flex;
}
.navlinks ul li{
    list-style: none;
    margin: 0px 20px;


}
.navlinks ul li a{
    text-decoration: none;
    color: white;
    
}
.btn{
    position: absolute;
    right: 25px;
    
}
.bbtn{
    background-color: #0065c3;
    border-radius: 15px;
    padding:  5px 20px;
    border-color: white;
    color: white;
}
.main{
    background-image: url(pepsi.jpg);
    background-size: cover;
    height: 110vh;
    width: 100%;
}
.nitro{
    width: 100%;
    height: 95vh;
    background: linear-gradient();
}

